* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 150px;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
    position: relative;
}

/*BARRA DEBAJO DEL TITULO */
.barra {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 2px;
    position: relative;
}
.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
} 
.izquierdo {
    margin-right: 0;
} 
.derecho {
    margin-left: 0;
}
.linea {
    flex-grow: 1;
    height: 3px;
    background-color: white;
}

/*LOGO DE LA PAGINA */
.logo-container {
    display: flex;
    width: 100%;
    justify-content: flex-start; /* Mantiene el logo a la izquierda */
}
.logo-img {
    width: 110px; /* Ajusta el tamaño del logo */
    height: 110px;
    margin-right: 90px;
    margin-bottom: -25px;
}

/*TITULO DE LA PAGINA*/
.title-center {
    font-size: 36px;
    text-align: center; 
    flex: 1;
    margin: 0 20px;
    align-items: center;
    padding-top: 5px;
}

/*MENU DE NAVEGACION*/
.nav-container{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.fa-solid{ /*lupa*/
    margin-left: 130px;
}
.arrow-down .fa-solid{
    margin-left: 0;
}
nav ul div .busqueda{ /*linea*/
    width: 150px;
    flex-grow: 1;
    height: 2px;
    background-color: white;
}

/*BOTONES DE INICIO DE SESION Y REGISTRO */
.buttons {
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
    position: absolute; 
    right: 20px; 
    top: 20px; 
}

.buttons .login,
.buttons .signup {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    flex-grow: 1;
    text-align: center;
}

.buttons .login {
    background-color: #FFFD82;
    color: #000;
}

.buttons .signup {
    background-color: #3ed0ff;
    color: white;
}

/*SECCION1*/
.primera{/*COLOR DEL FONDO*/
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    background-color: #ED254E;
}


.fondo-container {/*imagen de fondo*/
    display: flex;
    width: 900px;
    height: 570px;
    justify-content: center;
    margin-top: 90px;
    
    
}
.titulo-boton { /*texto de la imagen*/
    position: absolute;
    top: 35%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
  }
  
  .titulo-boton h1 {
    font-size: 40px;
    margin-bottom: 125px;
    text-shadow: 
    -5px -5px 5px #000000, /* Sombra superior izquierda */
    5px -5px 5px #000000,  /* Sombra superior derecha */
    -5px 5px 5px #000000,  /* Sombra inferior izquierda */
    5px 5px 5px #000000;   /* Sombra inferior derecha */
  }
  
  .titulo-boton button { /*Boton de la imagen*/
    padding: 10px 20px;
    width: 400px;
    height: 60px;
    background-color: #ff4c4cc4;
    border: 5px solid #ffffff;
    color: white;
    cursor: pointer;
    font-size: 30px;
    border-radius: 20px;
  }
  
  .titulo-boton button:hover {
    background-color: #e73b3be0;
    
  }
.fa-angles-right{ /*flecha*/
    margin-left: 10px;
    color: #f7f7f7;
}


/* círculos */
.circle {
    width: 320px;
    height: 350px;
    background-color: #fff;
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    position: absolute;
    bottom: 0; /* Asegura que el círculo esté en la parte inferior */
}

/* Círculo de la izquierda */
.left-circle-1 {
    left: 0; /* Coloca el círculo en la esquina inferior izquierda */
    transform: translate(-30%, 70%); /* Ajuste opcional para mejor alineación */
}
.left-circle-3 {
    left: 0; /* Coloca el círculo en la esquina inferior izquierda */
    transform: translate(35%, 95%); /* Ajuste opcional para mejor alineación */
}

/* Círculo de la derecha */
.right-circle-2 {
    right: 0; /* Coloca el círculo en la esquina inferior derecha */
    transform: translate(30%, 70%); /* Ajuste opcional para mejor alineación */
}
.right-circle-4 {
    right: 0; /* Coloca el círculo en la esquina inferior derecha */
    transform: translate(-35%, 95%); /* Ajuste opcional para mejor alineación */
}



/*SECCION2*/
.segunda{/*COLOR DEL FONDO*/
    position: relative;
    height: 160vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    background-color: #ffffff;
    margin-top: 90px;
}
.fondo{/*fondo*/
    display: flex;
    width: 1080px;
    height: 720px;
    justify-content: center;
    margin-top: 10px;
}
.destacados-section {
    max-width: 1080px;
    margin: 0 auto;

  }
  
  .destacados-section h2 {
    width: 40px;
    height: 50px;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    margin-top: -100px;
  }
  
  .grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* Mínimo tamaño de las columnas */
    gap: 30px;  /* Espacio entre los elementos */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .item {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Animación para hover */
  }
  
  .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .item p {
    font-size: 16px;
    color: #0077cc;
    font-weight: bold;
  }
  
  .item:hover {
    transform: translateY(-5px);  /* Efecto de movimiento al pasar el cursor */
  }







/*SECCION3*/
.tercero{/*COLOR DEL FONDO*/
    position: relative;
    height: 240vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    background: linear-gradient( #FF6383 0%,#FF214E 37%,#720026 100%);
    margin-top: 0;
}
.fondo-3{/*fondo*/
    display: flex;
    width: 1080px;
    height: 720px;
    justify-content: center;
 
}






/*SECCION4*/
.cuarto{/*COLOR DEL FONDO*/
    position: relative;
    height: 240vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    background-color: #ffffff;
    margin-top: 0;
}
.fondo-4{/*fondo*/
    display: flex;
    width: 1080px;
    height: 720px;
    justify-content: center;
 
}
